/* Codigo navbar*/


/*   
Media query para los 2 navbar
*/
/* Media query para los botones de projects */
/* Media query para los links de todas las galerias*/

@media only screen and (min-width: 1850px){
  .navbar{
    position: fixed;
    width: 100%;
    z-index: 0;
 }

 #jtcontainer{
  padding-top: 5.5%;
 }

 #collapseExample{
  padding-top: 5.5%;
 }
}

@media(max-width: 790px){
  #elcopy{
    font-size: small;
  }
}

@media(max-width: 500px){

#thumbga a{
 pointer-events: none;
}

  .btn-group {
    display: block;
  }
  
  .btn-group .button {
    display: block;
    float: none;
    width: 100%;
  }

  #elcopy{
    font-size: xx-small;
  }
}

.carlosRodil{
    text-align: center;
    text-transform: capitalize;
    color: black;
    font-weight: 600;
    font-size:xx-large;
    /*font-family:'Times New Roman', Times, serif;*/
}

.cinemato{
    text-align: center;
    text-transform: capitalize;
    color: gray;
    font-size: small;
    /*font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
}

.navbar{
    background-color: rgba(255, 255, 255, 0)

}
.navsec{
    text-align: center;
    text-transform: capitalize;
    color: black;

}

.navsec:hover{
   color:gray;
   font-weight: 800;
}

.navsec:active{
    color:gray;
    font-weight: 800;
}

.navsec:focus{
    color:gray;
    font-weight: 800;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
  }

  .navbar-light .navbar-toggler:active {
    color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0.86);
  }



 /* Codigo jumbotron landing  */
    
#introiframe{
    max-width: 80%;
    max-height: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5%;
}


 /* Codigo galeria de proyectos  */

 .container-fluid .row {
     padding-left: 10%;
     padding-right: 10%;
 }


 /*  efectos imagenes galería de proyectos */


.img-ho {
  overflow: hidden;
}

.img-ho img {
  transform-origin: 50% 65%;
  transition: transform 2s ease , filter .5s ease-in-out ;
  filter: brightness(100%);

} 

.img-ho:hover img {
  transform: scale(1.1);
  filter: brightness(50%);
}


/* ------------------------------------- */


/* ---- para textos obre imagen  ------ */


/* wrap color de fondo*/

.img_wrap {
  position: relative;
  }
 
.img_wrap_c {
  position: relative;
  background-color: rgba(114, 114, 114, 0.849);
}

/* texto blanco */

.img_description_wht {
    position: absolute;
    top:50%;
    left:50%;
    color: rgba(255, 255, 255, 0.815);
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, -50%);
    text-align: center;
  
    transition: opacity 1.5s, visibility 1s;
  }
  
  .img_wrap:hover .img_description_wht {
    visibility: visible;
    opacity: 1;
  }

  .img_wrap_c:hover .img_description_wht {
    visibility: visible;
    opacity: 1;
  }

/* secciones de proyecto */

 /* Codigo jumbotron new proyect */

 .introiframe2{
  max-width: 70%;
  max-height: 70%;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 5%;
}

.infoproj{
  max-width: 70%;
  max-height: 70%;
  margin-left: 15%;
  margin-right: 15%;
}


/*Hover de la galeria del proyecto*/

.gallery-ho img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/*Hover de los botones de contacto*/

#misredes .btn {
  background-color:rgba(36, 34, 34, 0.723);
}

#misredes .fab {
  color: white;
}

#misredes .btn:hover {
  background-color: rgb(0, 0, 0);
}


 /* Fondo (lo dicta Rodil)    */

 /* Lo del slider */
.range {
  --ticksThickness: 2px;
  --ticksHeight: 30%;
  --ticksColor: silver;

  display: inline-block;
  background: silver;
  background: linear-gradient(
      to right,
      var(--ticksColor) var(--ticksThickness),
      transparent 1px
    )
    repeat-x;
  background-size: calc(100% / ((var(--max) - var(--min)) / var(--step)) - 0.1%)
    var(--ticksHeight);
  background-position: 0 bottom;
  position: relative;
}

/* min / max labels at the edges */
.range::before,
.range::after {
  font: 12px monospace;
  content: counter(x);
  position: absolute;
  bottom: -2ch;
}

.range::before {
  counter-reset: x var(--min);
  transform: translateX(-50%);
}

.range::after {
  counter-reset: x var(--max);
  /* right: 0; */
  transform: translateX(50%);
}

.range > input {
  width: 300px;
  margin: 0 -6px; /* Critical adjustment */
}

/* un hidden para ocultar movidas sin el jquery */

.hidden {
  display: none;
}

#modificar{
  border: white;
  color:black;
}

#modificar:hover{
  background-color: rgba(202, 59, 59, 0.586);
  color:white;
}

/* persoanalinfo links del about  */

#personalinfo > p > a{ 
text-decoration: none;
color: black;
}

#personalinfo > p > a:hover{
  color: rgb(24, 169, 99);
}

#projsec {
opacity: 1;
transition: opacity 0.5s linear;
}


#navproje .button{
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid;
  border-color: rgb(0, 0, 0,0);
  color: rgba(7, 7, 7, 0.955);
}

#navproje .button:hover{
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 2px solid;
}

