/* Codigo navbar*/


/*   
Media query para los 2 navbar
*/
/* Media query para los botones de projects */
/* Media query para los links de todas las galerias*/

/*Titulo de proyecto*/
#titpro{
  font-size: xx-large;
}

#elcopy{
  font-size: small;
}


@media(max-width: 790px){
  #elcopy{
    font-size: x-small;
  }

  .infoproj li {
    font-size: small;
  }

  #jtcontainer_index{
    width: 80%;
  }

  #personalinfo {
    padding-top: 2rem;
  }

  #titpro {
    font-size: x-large;
  }

  #prenext a {
    font-size: small;
  }

  #typepro {
    font-size: small;
    display: block;
    margin-left: 0pt;
    margin-right: 0pt;
  }



}

@media(max-width: 500px){

#thumbga a{
 pointer-events: none;
}

  .btn-group {
    display: block;
  }
  
  .btn-group .button {
    display: block;
    float: none;
    width: 100%;
  }

  #elcopy{
    font-size: xx-small;
  }

  #jtcontainer_index{
    width: 90%;
  }

  #prenext a {
    font-size: small;
  }

  #titpro {
    font-size: large;
  }

}

.navbar{
    background-color: #ffffff;

}
.navsec{
    text-align: center;
    text-transform: capitalize;
    color: black;

}

.navsec:hover{
   color:gray;
   font-weight: 800;
}

.navsec:active{
    color:gray;
    font-weight: 800;
}

.navsec:focus{
    color:gray;
    font-weight: 800;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
  }

  .navbar-light .navbar-toggler:active {
    color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0.86);
  }



 /* Codigo jumbotron landing  */
    
#introiframe{
    max-width: 80%;
    max-height: 80%;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 5%;
}


 /* Codigo galeria de proyectos  */

 .container-fluid .row {
     padding-left: 10%;
     padding-right: 10%;
 }


 /*  efectos imagenes galería de proyectos */


.img-ho {
  overflow: hidden;
}

.img-ho img {
  transition: filter .03s ease-in-out ;
  filter: brightness(100%);

} 

.img-ho:hover img {
  filter: brightness(75%);
}


/* ------------------------------------- */


/* ---- para textos obre imagen  ------ */


/* wrap color de fondo*/

.img_wrap {
  position: relative;
  }
 
.img_wrap_c {
  position: relative;
  background-color: rgba(114, 114, 114, 0.849);
}

/* texto blanco */

.img_description_wht {
    position: absolute;
    top:50%;
    left:50%;
    color: rgba(255, 255, 255, 0.815);
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: opacity 0.3s, visibility 0.5s;
    /*width: 80%;*/
    /*height: 80%;*/
  }  
  
  .img_wrap:hover .img_description_wht {
    visibility: visible;
    opacity: 1;
  }

  .img_wrap_c:hover .img_description_wht {
    visibility: visible;
    opacity: 1;
  }


/* secciones de proyecto */

 /* Codigo jumbotron new proyect */

 .introiframe2{
  max-width: 70%;
  max-height: 70%;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 5%;
}

.infoproj{
  max-width: 80%;
  max-height: 70%;
  margin-left: 10%;
  margin-right: 10%;
}


/*Hover de la galeria del proyecto*/

.gallery-ho img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/*Hover de los botones de contacto*/
#misredes .btn {
  background-color:rgba(36, 34, 34, 0.5);
  border-radius: 100%;
}

#misredes .fab {
  color: white;
}

#gogo {
  display: flex;
  align-items: center;
  transition: 0.3s;
}

#gogo:hover {
  opacity:0.5;
}

#gogo a {
display: flex;
align-items: center;
min-width: 40px;
min-height: 40px;
}

#misredes .btn:hover {
  background-color: rgb(0, 0, 0);
}

/* un hidden para ocultar movidas sin el jquery */

.hidden {
  display: none;
}


/* persoanalinfo links del about  */

#personalinfo > p > a{ 
text-decoration: none;
color: gray;
}

#personalinfo > p > a:hover{
  color:black;
  font-weight: 800;
}

#projsec {
opacity: 1;
transition: opacity 0.5s linear;
}


#navproje .button{
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid;
  border-color: rgb(0, 0, 0,0);
  color: rgba(7, 7, 7, 0.955);
}

#navproje .button:hover{
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 2px solid;
}


/* lo de la fuente pedida */
/* primera fuente antes de nov24
@font-face {
    font-family: 'Monument Grotesk';
    src: 
        url('fuente/MonumentGrotesk-Regular.woff2') format('woff2'),
        url('fuente/MonumentGrotesk-Regular.woff') format('woff'),
        url('fuente/MonumentGrotesk-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  body{
    font-family: 'Monument Grotesk';
  }
*/
@font-face {
    font-family: 'Neue Hass';
    src: 
        /*url('fuente/MonumentGrotesk-Regular.woff2') format('woff2'),*/
        /*url('fuente/MonumentGrotesk-Regular.woff') format('woff'), */
        url('fuente/NeueHaasDisplayLight.ttf') format('truetype'),
        url('fuente/NeueHaasDisplayLightItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  body{
    font-family: 'Neue Hass';
  }  

/* Lo de el titulo de proyecto */
/* .infoproj  p { display:inline } */


/* ajustas el svg de el log */
#mainlogo {
  max-width: 224px;
  max-height: 69px;
}


/*Botones de previous next*/
#prenext .btn {
  width: 20%;
  white-space: nowrap;
}

#prenext a{ 
  text-decoration: none;
  color: black;
  }
  
  #prenext a:hover{
    color:black;
    font-weight: 800;
  }
  

#misredes2 img {
  border-radius: 50%;
  border-width: 0px 0px 0px 0px;
  max-width: 32px;
  max-height: 32px;
}

#misredes2 .btn { 
border-radius: 50%;
max-width: 32px;
max-height: 32px;
}

#gogo2 {
  transition: 0.3s;
}

#gogo2:hover {
  opacity:0.5;
}

#misredes2 svg:hover circle {
  fill:rgb(71, 70, 70);
}

#misredes2 svg circle {
  fill:rgba(71, 70, 70, 0.5);
}



/* de nuevo lo de cinematographer */

#carlosRodil{
  text-align: center;
  text-transform: capitalize;
  color: black;
  font-weight: 400;
  font-size:xx-large;
  padding: 0px;
  height: 36px;

  /*font-family:'Times New Roman', Times, serif;*/
}

#cinemato{
  padding: 0 0 0 2px;
  text-align: left;
  text-transform: capitalize;
  color: gray;
  font-size: medium;
  /*font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
}

/*quitar reborde azul cuando pulas botones next y prev*/
.btn-check:focus+.btn, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.089);
}

/*modelos de mostrar el navbar button selecionado*/

#activenavlink {
  color:gray;
  font-weight: 800;
}

#activenavlink2 {
  border-bottom: 2px solid;
  padding-bottom: 2px;
  border-color: gray;
}

#activenavlink3 {
  color:gray;
  font-weight: 800;
  padding-bottom: 2px;
  text-decoration: underline;
  text-decoration-color: gray;
  text-underline-offset: 4px;
}

@media(max-width: 790px) {
  #activenavlink3 {
  color:gray;
  font-weight: 800;
  border-bottom: 0px solid; 
  text-underline-offset: 7px;
  text-decoration: underline;
}
}


#lgrad {
background-color: #ffffff;
}

#personalinfo {
  word-spacing: 2px;
}